@font-face {
    font-family: 'Fredoka';
    src: url('/fonts/fredoka.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/plus_jakarta_sans.ttf') format('truetype');
    font-display: swap;
}