.spikes {
    --spike-width: 42px;
    --spike-height: 10px;
    --spike-color: null;

    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: var(--spike-height);
        background: var(--spike-color);
        mask-image: url('/img/spike.svg');
        mask-size: var(--spike-width) var(--spike-height);
        mask-position: center;
        bottom: 0;
    }
}

.diagonal-primary {
    --skew-angle: 1.5deg;
    --skew-angle-sign: -1;
    --foreground: var(--bs-primary);
    --upper-background: null;
    --lower-background: null;

    position: relative;
    isolation: isolate;

    background: linear-gradient(
        var(--skew-angle),
        var(--lower-background) 0%,
        var(--lower-background) 50%,
        var(--upper-background) 50%,
        var(--upper-background) 100%
    );

    &::after {
        content: '';
        background: var(--foreground);
        position: absolute;
        z-index: -1;
        inset: 0;
        transform: skewY(calc(var(--skew-angle) * var(--skew-angle-sign, 1)));
    }
}

.hero {
    --primary-stripe-rgb: var(--bs-primary-rgb);
    --secondary-stripe-rgb: var(--bs-primary-darker-rgb);
    --spike-color: var(--bs-secondary-bg);

    background-size: 32px 32px;
    background-image: linear-gradient(
        -45deg,
        rgb(var(--primary-stripe-rgb)) 25%,
        rgb(var(--secondary-stripe-rgb)) 25%,
        rgb(var(--secondary-stripe-rgb)) 50%,
        rgb(var(--primary-stripe-rgb)) 50%,
        rgb(var(--primary-stripe-rgb)) 75%,
        rgb(var(--secondary-stripe-rgb)) 75%,
        rgb(var(--secondary-stripe-rgb)) 100%
    );
    animation: pan 180s linear infinite;
}

@keyframes pan {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 100% 0%;
    }
}

.font-base {
    font-family: var(--bs-body-font-family);
}

.accordion-button {
    --bs-accordion-btn-focus-box-shadow: none;

    &:focus-visible {
        --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.5);
    }
}

.scale-on-hover {
    --scale: 1.03;
    --duration: 0.3s;

    transition:
        transform var(--duration) ease-out,
        box-shadow var(--duration) ease-out;

    &:hover {
        transform: scale(var(--scale));
        @extend .shadow;
    }
}

.skill {
    width: 6.5rem;

    @include media-breakpoint-up(sm) {
        width: 7rem;
    }
}

.icon-after {
    &-link::after {
        mask-image: url('/img/icons/external-link.svg');
    }

    &-anchor::after {
        mask-image: url('/img/icons/external-link.svg');
    }

    &::after {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        mask-size: contain;
        mask-repeat: no-repeat;
        background-color: currentColor;
        vertical-align: middle;
        margin-left: 0.75ch;
    }
}

.navbar-toggler {
    &:focus-visible {
        @extend .focus-ring;
        @extend .focus-ring-primary;
    }
}

[data-scrollspy-fade-triggered-by][data-scrollspy-faded]:not([data-scrollspy-faded='true']) {
    opacity: 0;
}

.fade-in {
    animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.btn-unstyled {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

.image-modal-size {
    max-width: 90vw;
    max-height: calc(100% - var(--bs-modal-margin) * 2);
}
